body {
	font-family: Calibri, Arial, sans-serif;
}
ul {
	border: 1px black solid;	
}
img {
	height: 1000px;
	width: 1000px;
}
#first-ingredient {
	color: red;
}
.section-heading {
	background-color: tomato; 
}
